* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-section {
  min-height: 800px;
  background: #F0F0F0;
  padding-top: 16px;
  overflow: hidden;
  position: relative;
}
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}
.main-section__content-container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.main-section__first-elipse {
  position: absolute;
  z-index: 0;
  top: 129px;
  right: 80px;
}
.main-section__second-elipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
}
.nav-menu__list-item:last-child {
  margin-right: 0px;
}

.left-wrapper {
  position: relative;
}
.left-wrapper__img {
  position: relative;
  z-index: 4;
}
.left-wrapper__rectangle-blue {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: -50px;
  width: 566px;
  height: 220px;
  background: #5290EA;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-64deg);
}
.left-wrapper__rectangle-orange {
  z-index: 3;
  position: absolute;
  width: 618.43px;
  height: 220px;
  left: -30px;
  top: 160px;
  background: #F28B64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  transform: rotate(-50.81deg);
}
.left-wrapper__rectangle-grey {
  position: absolute;
  z-index: 1;
  width: 608.97px;
  height: 220px;
  left: 10px;
  top: 190px;
  background: #E2E2E2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  transform: rotate(-36.15deg);
}

.right-wrapper {
  height: 372px;
  position: absolute;
  top: 150px;
  right: 76px;
  z-index: 5;
}
.right-wrapper__icon-box {
  margin-bottom: 1px;
  padding-left: 10px;
}
.right-wrapper__title {
  margin-bottom: 5px;
}
.right-wrapper__text {
  font-size: 16px;
  max-width: 370px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
}
.icons__item {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #5290EA;
  border-radius: 100px;
  align-items: center;
  margin-right: 17px;
}
.icons__item:last-child {
  margin-right: 0px;
}
.icons__item__one {
  height: 21px;
}

.title {
  font-size: 72px;
  position: relative;
}
.title__hr {
  width: 60px;
  position: absolute;
  bottom: 0px;
  margin: 0;
  border: none;
  border-top: 1px solid black;
}

.buttons {
  display: flex;
}
.buttons__main-btn {
  margin-right: 32px;
  width: 200px;
  height: 60px;
  background: #F28B64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: 0;
  font-size: 18px;
  color: white;
}
.buttons__icon-btn {
  display: inline-flex;
  align-items: center;
}
.buttons__icon-btn img {
  margin-right: 12px;
}
.buttons__text {
  font-size: 16px;
}

.elipse {
  width: 194px;
  height: 194px;
  background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elipse__subtract {
  width: 129.33px;
  height: 129.33px;
  background: #F0F0F0;
  border-radius: 150px;
}
.elipse__subtract_big {
  width: 188px;
  height: 188px;
}
.elipse_big {
  width: 282px;
  height: 282px;
}

.second-section {
  min-width: 700px;
}
.second-section__container {
  padding-top: 32px;
  position: relative;
}
.second-section__cards-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.second-section__title {
  margin-bottom: 40px;
}
.second-section__cards-item {
  margin-right: 45px;
}
.second-section__cards-item:last-child {
  margin-right: 0px;
}
.second-section__icon-box {
  display: flex;
  justify-content: space-evenly;
}
.second-section__first-elipse {
  position: absolute;
  top: 80px;
  right: -60px;
  z-index: -1;
}
.second-section__second-elipse {
  position: absolute;
  top: 364px;
  left: -60px;
  z-index: -1;
}

.cards-item {
  position: relative;
  width: 360px;
  height: 360px;
  background: #E2E2E2;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.cards-item__img {
  height: 332px;
}
.cards-item__text {
  width: 280px;
  font-size: 36px;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  top: 144px;
  right: -40px;
}
.cards-item__two {
  position: relative;
  width: 360px;
  height: 360px;
  background: #F28B64;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.cards-item__thre {
  position: relative;
  width: 360px;
  height: 360px;
  background: #5290EA;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

.icons-item {
  display: inline-flex;
  align-items: center;
}
.icons-item:last-child {
  margin-right: 0px;
}
.icons-item__text {
  font-size: 18px;
}
.icons-item__text span {
  font-size: 48px;
}
.icons-item__img {
  margin-right: 20px;
  width: 80px;
}/*# sourceMappingURL=style.css.map */